:root {
  --clr-primary: hsl(257, 40%, 49%);
  --clr-secondary: hsl(300, 69%, 71%);

  --clr-neutral-400: #ffffff;
  --clr-neutral-500: #eeeeee;
  --clr-neutral-600: #555;

  --ff-base: "Open Sans", sans-serif;
  --ff-accent: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* general styles */
body {
  --bg-img: url(./images/bg-mobile.svg);

  background-image: var(--bg-img);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-500);
  padding: 0 10%;

  display: flex;
  flex-direction: column;
}

@media (min-width: 376px) {
  body {
    --bg-img: url(./images/bg-desktop.svg);

    padding: 0 8%;
  }
}

/* utilities */
.two-cols {
  display: grid;
  gap: 3rem;

  height: 100%;
}

@media (min-width: 1200px) {
  .two-cols {
    grid-template-columns: 6fr 4fr;
  }
}

.heading {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  line-height: 1.3;
  color: var(--clr-neutral-400);
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .heading {
    font-size: 2.5rem;
  }
}

button {
  padding: 1rem 0;
  border-radius: 999px;
  border: none;
  width: 15rem;
  color: var(--clr-primary);
  box-shadow: 0 2px 2px 1px var(--clr-neutral-600);
  margin-top: 2rem;
  cursor: pointer;
}

button:is(:hover, :focus) {
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary);
  box-shadow: 0 2px 8px 1px var(--clr-neutral-600);
}

/* header styles */
header {
  margin: 2rem 0;
}

.logo {
  --size: 8rem;

  width: var(--size);
}

@media (min-width: 1200px) {
  .logo {
    --size: 16rem;
  }
}

/* main styles */
main {
  flex: 1;
  padding-top: 2rem;
}

.cols__content {
  --text-align: center;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 1.5rem;
  text-align: var(--text-align);
  justify-items: center;
}

@media (min-width: 1200px) {
  .cols__content {
    --text-align: left;
  }
}

.links {
  --icon-wrapper: 2rem;
  --icon-size: 1rem;

  display: flex;
  gap: 1rem;

  margin-top: 4rem;
}

@media (min-width: 1200px) {
  .links {
    --icon-wrapper: 3rem;
    --icon-size: 1.25rem;

    justify-self: end;
  }
}

.links a {
  text-decoration: none;
  color: var(--clr-neutral-400);
  width: var(--icon-wrapper);
  height: var(--icon-wrapper);
  font-size: var(--icon-size);
  border-radius: 50%;
  border: solid 1px var(--clr-neutral-400);

  display: grid;
  place-content: center;
}

.links a:hover {
  color: var(--clr-secondary);
  border-color: var(--clr-secondary);
}

/* attribution styles */
.attribution {
  text-align: center;
  font-size: 11px;
  padding: 1rem 0;
}

.attribution a {
  color: var(--clr-secondary);
}
