:root {
  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(212, 45%, 89%);
  --clr-neutral-550: hsla(220, 15%, 55%, 0.5);
  --clr-neutral-600: hsl(220, 15%, 55%);
  --clr-neutral-700: hsl(218, 44%, 22%);

  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-600);
  background-color: var(--clr-neutral-500);

  display: grid;
  place-content: center;
}

/* card styles */
.card {
  --card-radius: 1rem;
  --card-padding: 1rem;
  --card-spacing: 1rem;

  width: 20rem;
  background-color: var(--clr-neutral-400);
  border-radius: var(--card-radius);
  padding: var(--card-padding);
  box-shadow: 0 2px 10px var(--clr-neutral-550);

  display: grid;
  gap: var(--card-spacing);
}

.card__img {
  border-radius: var(--card-radius);
  overflow: hidden;
}

.card__content {
  text-align: center;
  padding: var(--card-padding);
}

.card__content h1 {
  color: var(--clr-neutral-700);
  margin-bottom: var(--card-spacing);
}

/* attribution styles */
.attribution {
  text-align: center;
  padding: 1rem 0;
  font-size: 11px;
}

.attribution a {
  color: var(--clr-neutral-700);
}
